@using CoreMVCDemo2.Models
@using CoreMVCDemo2.Services.City
@inject ICityService CityService
@model Student

<h1>Hello there</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table>
                <tr>
                    <td>Id</td>
                    <td>@Model.Id</td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Id</td>
                    <td>@Model.Contact</td>
                </tr>
                <tr>
                    <td>City</td>
                    <td>@Html.DropDownListFor(m=>m.CityId, CityService.GetCities().Select(s => new SelectListItem { Text = s.CityName,Value = s.CityId.ToString() }))</td>
                </tr>
            </table>
        </div>
    </div>
</div>