@using CoreMVCDemo2.Models
@model IEnumerable<Student>

<h1>Hello there</h1>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <table border="1">
                <tr>
                    <td>Id</td>
                    <td>Name</td>
                    <td>Contact</td>
                    <td>City Id</td>
                </tr>

                @foreach (var std in Model)
                {
                <tr>
                    <td>@std.Id</td>
                    <td>@std.Name</td>
                    <td>@std.Contact</td>
                    <td>@std.CityId</td>
                </tr>
                }

            </table>
        </div>
    </div>
</div>